In [86]:
import pandas as pd

In [87]:
com = pd.read_csv("commune.csv")
fiber = pd.read_csv("fiber.csv")
ban = pd.read_csv("ban.csv", sep=";")

/tmp/ipykernel_11253/1322241823.py:3: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  ban = pd.read_csv("ban.csv", sep=";")

In [88]:
fiber.head()

,x,y,imb_id,num_voie,cp_no_voie,type_voie,nom_voie,batiment,code_insee,code_poste,...,catg_loc_imb,imb_etat,pm_ref,pm_etat,code_l331,geom_mod,type_imb,date_completude,date_completude_manquante,commune
0,55.623400,-21.142897,97406-B3897,11,NaN,Allee,DES TREFLES,LES JARDINS DE LAMARTINE,97406,97431,...,individuel,deploye,RU-97406-PPCA,deploye,REUN,f,PA,2017-01-30,f,NaN
1,55.635869,-21.131349,97406-B8GBZ,20,NaN,Rue,RAPHAEL BABET,NaN,97406,97431,...,individuel,deploye,RU-97406-PPIA,deploye,REUN,f,PA,2016-08-05,f,NaN
2,55.629225,-21.140383,97406-BL3AS,7,NaN,Impasse,DES JACINTHES,NaN,97406,97431,...,individuel,deploye,RU-97406-PPFA,deploye,REUN,f,PA,2016-06-10,f,NaN
3,55.290382,-20.941894,974070030F-13,13,NaN,Rue,AMBROISE CROIZAT,NaN,97407,97420,...,entre 2 et 11,deploye,RU-97407-PODB,deploye,REUN,f,PA,2016-08-03,f,NaN
4,55.626325,-21.140743,97406-BOYPW,7,NaN,Impasse,DES CANISTELS,NaN,97406,97431,...,individuel,deploye,RU-97406-PPFA,deploye,REUN,f,PA,2016-06-10,f,NaN

In [89]:
ban.columns

Index(['id', 'id_fantoir', 'numero', 'rep', 'nom_voie', 'code_postal',
       'code_insee', 'nom_commune', 'code_insee_ancienne_commune',
       'nom_ancienne_commune', 'x', 'y', 'lon', 'lat', 'type_position',
       'alias', 'nom_ld', 'libelle_acheminement', 'nom_afnor',
       'source_position', 'source_nom_voie', 'certification_commune',
       'cad_parcelles'],
      dtype='object')

In [90]:
com_run = com[com['COM'].str.contains(r'^974')]
com_run['COM'] = com_run['COM'].astype('int64')

/tmp/ipykernel_11253/2874930199.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  com_run['COM'] = com_run['COM'].astype('int64')

In [91]:
fiber_and_commune_data = fiber.merge(com_run, how='inner', left_on='code_insee', right_on='COM')

In [92]:
fiber_and_commune_data.shape

(385762, 28)

In [93]:
fiber_and_commune_data['imb_etat'].value_counts(dropna=False)

imb_etat
deploye                    350905
cible                       20184
en cours de deploiement     10087
abandonne                    3320
signe                        1115
raccordable demande           147
NaN                             4
Name: count, dtype: int64

In [94]:
tot = fiber_and_commune_data[["COM", 'imb_etat']].groupby('COM').value_counts().unstack().sum(axis=1)

In [95]:
fiber_and_commune_data.groupby('COM').value_counts().unstack()
fiber_and_commune_data.groupby('COM').value_counts(normalize=True).unstack()

Empty DataFrame
Columns: []
Index: []

In [96]:
fiber_and_commune_data[["COM", 'imb_etat']].groupby('COM').value_counts().unstack()
fiber_and_commune_data[["COM", 'imb_etat']].groupby('COM').value_counts(normalize=True).unstack().sort_values('deploye')

imb_etat,abandonne,cible,deploye,en cours de deploiement,raccordable demande,signe
COM,,,,,,
97414,NaN,0.216665,0.739731,0.042107,NaN,0.001497
97424,NaN,0.235759,0.764241,NaN,NaN,NaN
97407,NaN,0.084784,0.781236,0.128849,NaN,0.005132
97404,NaN,0.155727,0.834964,0.008362,NaN,0.000947
97409,0.114885,0.004240,0.846067,0.032426,NaN,0.002382
97408,0.000049,0.131176,0.852421,0.013211,NaN,0.003143
97405,NaN,0.111237,0.886330,0.000162,NaN,0.002270
97411,0.000159,0.058830,0.889287,0.045025,NaN,0.006698
97412,NaN,0.040012,0.892755,0.067232,NaN,NaN
97423,NaN,NaN,0.901961,0.098039,NaN,NaN
97418,NaN,0.062242,0.912375,0.024987,NaN,0.000396
97415,0.000558,0.036221,0.938516,0.021664,NaN,0.003041
97416,0.007298,0.037460,0.940920,0.012379,NaN,0.001944
97410,NaN,0.019811,0.949470,0.026450,NaN,0.004268
97402,NaN,NaN,0.960644,0.039356,NaN,NaN
97420,NaN,NaN,0.962255,0.037745,NaN,NaN
97401,NaN,0.018800,0.973807,0.000422,NaN,0.006971
97413,0.000328,0.014438,0.977031,0.000591,0.000328,0.007284
97406,NaN,NaN,0.979058,0.020942,NaN,NaN
97422,0.000094,0.010188,0.981217,0.001781,0.004438,0.002281
97403,NaN,0.009105,0.989639,NaN,NaN,0.001256
97421,NaN,0.005655,0.994345,NaN,NaN,NaN
97417,NaN,NaN,0.997081,NaN,NaN,0.002919
97419,NaN,0.002533,0.997467,NaN,NaN,NaN

In [97]:
fiber_cilaos = fiber_and_commune_data[fiber_and_commune_data["code_insee"] == 97424]
fiber_denis = fiber_and_commune_data[fiber_and_commune_data["code_insee"] == 97411]

In [98]:
fiber_denis["code_l331"].value_counts()

code_l331
FRTE    34300
SRR      9742
Name: count, dtype: int64

In [99]:
fiber_cilaos

,x,y,imb_id,num_voie,cp_no_voie,type_voie,nom_voie,batiment,code_insee,code_poste,...,date_completude,date_completude_manquante,commune,COM,TNCC,NCC,NCCENR,LIBELLE,DATE_DEBUT,DATE_FIN
242137,55.465852,-21.143493,IMB/97424/X/04T0,52,NaN,NaN,Rn5 Mare SÃ¨che,NaN,97424,97413,...,2021-10-23,f,NaN,97424,0,CILAOS,Cilaos,Cilaos,1965-02-05,NaN
242138,55.466089,-21.143441,IMB/97424/X/04T1,52,B,NaN,Rn5 Mare SÃ¨che,NaN,97424,97413,...,2021-10-23,f,NaN,97424,0,CILAOS,Cilaos,Cilaos,1965-02-05,NaN
242139,55.468182,-21.144431,IMB/97424/X/04T2,49,NaN,NaN,Rn5 Mare SÃ¨che,NaN,97424,97413,...,2021-10-23,f,NaN,97424,0,CILAOS,Cilaos,Cilaos,1965-02-05,NaN
242140,55.464856,-21.151899,IMB/97424/X/04T3,13,NaN,NaN,Rn5 Mare SÃ¨che,NaN,97424,97413,...,2021-10-23,f,NaN,97424,0,CILAOS,Cilaos,Cilaos,1965-02-05,NaN
242141,55.466346,-21.153985,IMB/97424/X/04YI,4,A,Chemin,Cap Noir,NaN,97424,97413,...,2021-10-23,f,NaN,97424,0,CILAOS,Cilaos,Cilaos,1965-02-05,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245169,55.437165,-21.148615,IMB/97424/X/05NE,11,D,Rue,Marcel Dijoux,NaN,97424,97413,...,2022-11-07,f,NaN,97424,0,CILAOS,Cilaos,Cilaos,1965-02-05,NaN
245170,55.479313,-21.168194,IMB/97424/X/05NF,62,NaN,Chemin,des Papayes,NaN,97424,97413,...,2022-12-05,f,NaN,97424,0,CILAOS,Cilaos,Cilaos,1965-02-05,NaN
245171,55.469777,-21.134640,IMB/97424/X/05NG,7,C,Rue,Mac Auliffe,NaN,97424,97413,...,2022-08-23,f,NaN,97424,0,CILAOS,Cilaos,Cilaos,1965-02-05,NaN
245172,55.469242,-21.141424,IMB/97424/X/05NH,6,NaN,Chemin,du Four,AE 2180,97424,97413,...,2022-08-23,f,NaN,97424,0,CILAOS,Cilaos,Cilaos,1965-02-05,NaN
245173,55.477682,-21.164444,IMB/97424/X/05NJ,388,NaN,Chemin,Morel,NaN,97424,97413,...,2022-12-05,f,NaN,97424,0,CILAOS,Cilaos,Cilaos,1965-02-05,NaN